:root {
  --bg: #fffaec;
  --second: #f5ecd5;
  --third: #948979;
  --dark: #3d3d3d;
}
:root.dark-mode {
  --bg: #222831;
  --second: #393E46;
  --third: #948979;
  --dark: #DFD0B8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Lexend Exa", "Noto Serif";
  background-color: var(--bg);
  color: var(--dark);
  /* min-height: 3000px; */
}

/* Navbar */
#menu {
  display: inline-block;
}
#dark-mode {
  display: inline-block;
  padding-top: 6.5px;
  margin-right: 3px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--second);
  padding: 1rem 3%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  position: fixed;
  margin: auto;
}

.navbar-nav {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 23rem;
  height: 100vh;
  background-color: #94897981;
  backdrop-filter: blur(10px);
  z-index: 9999;
  margin: auto;
  transition: 0.3s linear;
}
.navbar-nav.active {
  right: 0;
  transition: 0.3s linear;
}
.navbar-nav a {
  color: var(--bg);
  display: block;
  font-weight: 700;
  font-family: Lexend Exa;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1.5rem;
}
.navbar-nav a:hover {
  /* color: #acacac; */
  background-color: rgba(2, 2, 2, 0.475);
  border-radius: 10px;
}

/* Search */
.search {
  position: relative;
  display: inline-block;
  width: 20rem;
  height: 2.5rem;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}
#search-box {
  width: 80%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  font-family: Montserrat;
  font-size: 1.2rem;
}
.search button {
  position: absolute;
  right: 0;
  top: 0;
  width: 17%;
  height: 100%;
  background-color: var(--third);
  color: var(--bg);
  border-radius: 10px;
  font-family: Montserrat;
  font-weight: 700;
}
.search button:hover {
  background-color: var(--second);
  color: var(--bg);
  transition: 0.3s linear;
}

.navbar-logo {
  width: 100%;
  font-family: Lexend Exa;
  color: var(--dark);
  font-weight: 700;
  font-size: 1.7rem;
  margin: auto;
}

.navbar-extra {
  display: flex;
}

.navbar-extra a {
  padding: 3px;
}

.navbar-extra a:hover {
  background-color: rgba(172, 172, 172, 0.475);
  border-radius: 10px;
}

/* Hero */
.hero {
  min-height: 100vh;
  background-image: url("img/bg.jpg");
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  align-items: center;
  background-color: rgba(61, 61, 61, 0.212);
  color: #f5ecd5;
  backdrop-filter: blur(5px);
  padding: 1rem 0;
  transition: 0.3s linear;
}

.content:hover {
  scale: 1.1;
}

.content h2 {
  font-family: Noto Serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.content h1 {
  font-family: Montserrat;
  font-size: 5rem;
  letter-spacing: 15px;
  font-weight: 800;
}

.content p {
  text-align: center;
  max-width: 60%;
}

/* About */
.about {
  padding: 6rem 5% 5rem;
  display: flex;
  flex-wrap: wrap;
}
.about-content {
  position: relative;
  
}
.about h1 {
  font-size: 3rem;
}

.about h1 span {
  font-family: Lexend Exa;
  font-weight: 700;
}

.about .p1 {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 45%;
  line-height: 1.4rem;
  margin-top: 1rem;
  font-family: Noto Serif;
  text-align: justify;
}

.about h2 {
  margin-top: 2rem;
  padding-right: 68%;
}

.about .p2 {
  margin-top: 1rem;
  font-family: Noto Serif;
}

.about .p2 span {
  font-style: italic;
}

.about .p3 {
  font-family: Noto Serif;
  margin-top: 0.5rem;
  text-align: justify;
  line-height: 1.4rem;
}

/* Teras Kata */
.teras-kata {
  padding: 6rem 5% 7rem;
  text-align: center;
}

.teras-kata h1 {
  text-align: center;
  padding-right: 0;
  font-size: 3rem;
}

.teras-kata p {
  max-width: 78%;
  justify-content: center;
  padding-right: 0;
  display: block;
  margin: auto;
  text-align: center;
  font-family: Noto Serif;
}

.teras-kata p span {
  font-style: italic;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-top: 4rem;
}

.card {
  text-align: left;
  border-radius: 10px;
  padding: 1rem 2rem;
  background-color: #fefefe;
  border: 3px solid #000;
  transition: 0.2s linear;
  cursor: pointer;
  min-width: 13rem;
}

.card:hover {
  box-shadow: -7px 10px var(--third);
  margin-top: -4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: -4px;
}
.card-content {
  color: #3d3d3d;
}

.card-content h3 {
  font-family: Lexend Exa;
  font-weight: 900;
  font-size: 1.3rem;
}

.card-content p {
  font-family: Montserrat;
  text-align: left;
  margin-left: 0;
  line-height: 2rem;
}

/* Modal Box */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  padding: 4.1rem;
}

.modal-container {
  position: relative;
  background-color: var(--second);
  color: var(--dark);
  margin: 15% auto;
  height: 100%;
  padding: 1.2rem;
  width: 80%;
  animation: animateModal 0.5s;
  border-radius: 20px;
  border: 3px solid #000;
  transition: 0.2s linear;
}

/* Modal Animation Start */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
/* Modal Animation End */

.modal-container .close {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.modal-content h2 {
  font-family: Montserrat;
  padding: 2rem 0;
  text-align: center;
  font-weight: 800;
}

.modal-content .by {
  display: flex;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.modal-content img {
  height: 2rem;
  border-radius: 50%;
}

.modal-content .by p {
  margin: auto;
  margin-left: 3px;
}

.modal-content .by p span {
  font-style: italic;
}

.paragraf {
  position: relative;
  font-family: Noto Serif;
  margin: auto;
  width: 100%;
  height: 22rem;
  justify-content: center;
  /* margin-left: 2.5rem; */
  overflow-x: hidden;
  overflow-y: scroll;
  /* padding-right: 25px; */
}

.paragraf p {
  padding-bottom: 1rem;

  text-align: justify;
  margin-right: 1rem;
}

.date {
  position: absolute;
  right: 6rem;
  bottom: 2rem;
  font-family: Noto Serif;
  font-style: italic;
}

/* Kontak */
.kontak {
  background-color: var(--second);
  display: flex;
  padding: 1rem 5%;
}

.kontak-content {
  margin: 1.5rem;
  display: flex;
}

.map {
  border-radius: 10px;
  box-shadow: 3px 3px 6px #000000;
  height: 15rem;
  width: 50rem;
}

.paragraph {
  display: grid;
  margin-left: 2rem;
}

.paragraph p {
  margin-top: 1rem;
}

.paragraph p span {
  font-size: 1.3rem;
  font-weight: 700;
}

/* Footer */
footer {
  background-color: var(--third);
  text-align: center;
  padding: 1rem 0 2rem;
}

footer .links {
  margin-bottom: 1.2rem;
}

footer .links a {
  color: var(--bg);
  padding: 0 0.7rem;
  font-size: 1.4rem;
  font-weight: 600;
}
footer .links a:hover {
  color: var(--dark);
}

footer .credit {
  font-size: 1.2rem;
}

footer .credit a {
  color: #09122c;
  font-weight: 700;
}

footer #me:hover {
  color: var(--bg);
}

/* Album Section */
.album {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 3%;
  margin-top: 5rem;
}
.album h1 {
  width: 100%;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.album-item img {
  width: 100%;
  height: 27rem;
  object-fit: cover;
  border-radius: 10px;
}

/* Media queries */
/* Desktop */
@media (min-width: 1024px) {
 
}
/* Laptop */
@media (min-width: 768px) and (max-width: 1024px) {
  
}
/* Tablet */
@media (min-width: 480px) and (max-width: 820px) {
  .navbar-logo {
    padding-left: 1rem;
  }
  .navbar-nav {
    display: absolute;
    right: -50%;
  }
  /* Hero */
  .content h1 {
    font-size: 3.5rem;
  }
  .content p {
    max-width: 83%;
    margin-top: 0.5rem;
  }
  /* About */
  .about h1 {
    padding-right: 3.6rem;
    font-size: 2.5rem;
  }
  .about .p1 {
    margin-top: 0;
    position: relative;
  }
  /* Teras Kata */
  .teras-kata p {
    margin-top: 1rem;
    max-width: 90%;
  }
  .teras-kata .row {
    flex-direction: column;
    max-width: 75%;
    margin-left: 6rem;
  }
  /* Modal Box */
  .modal-container {
    width: 100%;
    height: 90%;
    padding: 1.3rem;
    margin: auto;
  }
  .modal-content .by {
    margin-left: 1rem;
  }
  .modal-content .paragraf {
    width: 100%;
    height: 100%;
    margin-left: 0;
    padding-left: 1rem;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .modal-content .date {
    right: 2.5rem;
    bottom: 3rem;
  }
  #modal3 h1 {
    max-width: 100%;
    margin-left: 7rem;
    font-size: 2.5rem;
  }
  /* Kontak */
  .kontak {
    flex-direction: column;
    padding: 1rem 2%;
  }
}
/* Mobile */
@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
  /* Navbar */
  .navbar {
    padding: 0.5rem 2%;
  }
  .navbar-logo {
    padding-left: 1rem;
    font-size: 1.3rem;
  }
  #menu {
    margin: 0;
    margin-right: 5px;
    padding: 0;
    padding-top: 3px;
  }
  .navbar-nav {
    width: 85%;
    height: 100vh;
    right: -100%;
  }

  /* hero */
  .content h1 {
    font-size: 2.3rem;
    letter-spacing: 5px;
  }
  .content h2 {
    font-size: 1rem;
  }
  .content p {
    max-width: 90%;
    font-size: 10px;
    margin-top: 0.5rem;
  }
  /* About */
  .about .p1 {
    position: relative;
    max-width: 100%;
    margin-top: 1rem;
    font-size: 0.9rem;
    padding: 0 5px;
  }
  .about .p2 {
    padding: 0 5px;
  }
  .about .p3 {
    padding: 0 5px;
  }
  .about h1 {
    padding-right: 0;
    font-size: 2rem;
  }
  .about h2 {
    padding-right: 0;
    font-size: 1.5rem;
  }
  /* Teras Kata */
  .teras-kata h1 {
    font-size: 2rem;
  }
  .teras-kata p {
    max-width: 90%;
    font-size: 0.9rem;
    margin: 0.5rem auto;
  }
  .teras-kata .row {
    flex-direction: column;
    max-width: 100%;
    margin-left: 0;
  }
  .card {
    width: 100%;
    padding: 1rem;
  }
  .card-content h3 {
    font-size: 1.2rem;
  }
  .card-content p {
    font-size: 0.9rem;
    margin-left: 0;
    margin-top: 0;
  }
  /* Modal Box */
  .modal {
    padding: 2rem;
  }
  .modal-container {
    width: 100%;
    height: 80%;
    padding: 1.2rem;
    margin: auto;
  }
  .modal-content h2 {
    font-size: 1.3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .modal-content .by {
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .modal-content img {
    height: 1.3rem;
  }
  .modal-content .by p {
    margin-left: 5px;
    font-size: 0.9rem;
  }
  .modal-content .by p span {
    font-size: 0.8rem;
  }
  .modal-content .date {
    font-size: 0.8rem;
    position: absolute;
    right: 2rem;
  }
  .modal-content .paragraf {
    width: 100%;
    height: 50vh;
    margin-left: 0;
    padding-left: 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .modal-content .paragraf p {
    text-align: left;
  }
  #modal3 h1 {
    max-width: 100%;
    margin-left: 0;
    font-size: 1.5rem;
  }
  /* Kontak */
  .kontak-content {
    flex-direction: column;
    align-items: center;
  }
  .kontak-content .map {
    width: 100%;
    height: 20rem;
  }
  .kontak-content .paragraph {
    width: 100%;
    margin-left: 5px;
    margin-top: 1rem;
  }
  /* footer */
  footer .links {
    padding: 0 0.5rem;
  }
  footer .links a {
    font-size: 1.2rem;
    padding: 0 0.5rem;
  }
  footer .credit {
    font-size: 1rem;
  }
}
