:root {
  --bg: rgb(255, 250, 236);
  --second: #f5ecd5;
  --third: #578e7e;
  --dark: #3d3d3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Lexend Exa", "Noto Serif";
  background-color: var(--bg);
  color: var(--dark);
  /* min-height: 3000px; */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--second);
  padding: 1rem 3%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  position: fixed;
  margin: auto;
}

.navbar-nav {
  display: flex;
  margin: auto;
}

.navbar-nav a {
  color: var(--dark);
  font-weight: 500;
  font-family: Noto Serif;
  font-size: 1.2rem;
  padding: 5px 7px;
}

.navbar-nav a:hover {
  /* color: #acacac; */
  background-color: rgba(172, 172, 172, 0.475);
  border-radius: 10px;
}

.navbar-logo {
  width: 60%;
  font-family: Lexend Exa;
  padding-left: 7rem;
  color: var(--dark);
  font-weight: 700;
  font-size: 1.5rem;
  margin: auto;
}

.navbar-extra {
  display: flex;
}

.navbar-extra a {
  padding: 3px;
}

.navbar-extra a:hover {
  background-color: rgba(172, 172, 172, 0.475);
  border-radius: 10px;
}

/* Hero */
.hero {
  min-height: 100vh;
  background-image: url("img/bg.jpg");
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  background-color: rgba(61, 61, 61, 0.212);
  color: var(--second);
  backdrop-filter: blur(5px);
  padding: 1rem 0;
  transition: 0.3s linear;
}

.content:hover {
  scale: 1.1;
}

.content h2 {
  font-family: Noto Serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.content h1 {
  font-family: Montserrat;
  font-size: 5rem;
  letter-spacing: 15px;
  font-weight: 800;
}

.content p {
  text-align: center;
  max-width: 60%;
}

/* About */
.about {
  padding: 6rem 5% 5rem;
  /* min-height: 100vh; */
  display: flex;
  flex-wrap: wrap;
}

.about h1 {
  padding-right: 13rem;
  font-size: 3rem;
}

.about h1 span {
  font-family: Lexend Exa;
  font-weight: 700;
}

.about .p1 {
  max-width: 41%;
  line-height: 1.4rem;
  margin-top: 1rem;
  font-family: Noto Serif;
  text-align: justify;
}

.about h2 {
  margin-top: 2rem;
  padding-right: 68%;
}

.about .p2 {
  margin-top: 1rem;
  font-family: Noto Serif;
}

.about .p2 span {
  font-style: italic;
}

.about .p3 {
  font-family: Noto Serif;
  margin-top: 0.5rem;
  text-align: justify;
  line-height: 1.4rem;
}

/* Teras Kata */
.teras-kata {
  padding: 6rem 5% 7rem;
  text-align: center;
}

.teras-kata h1 {
  text-align: center;
  padding-right: 0;
  font-size: 3rem;
}

.teras-kata p {
  max-width: 78%;
  justify-content: center;
  padding-right: 0;
  display: block;
  margin: auto;
  text-align: center;
  font-family: Noto Serif;
}

.teras-kata p span {
  font-style: italic;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-top: 4rem;
}

.card {
  text-align: left;
  border-radius: 10px;
  padding: 1rem 2rem;
  background-color: #fefefe;
  border: 3px solid #000;
  transition: 0.2s linear;
  cursor: pointer;
  min-width: 13rem;
}

.card:hover {
  box-shadow: -7px 10px var(--third);
  margin-top: -4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: -4px;
}

.card-content h3 {
  font-family: Lexend Exa;
  font-weight: 900;
  font-size: 1.3rem;
}

.card-content p {
  font-family: Montserrat;
  text-align: left;
  margin-left: 0;
  line-height: 2rem;
}

/* Modal Box */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  padding: 4.1rem;
}

.modal-container {
  position: relative;
  background-color: var(--second);
  color: var(--dark);
  margin: 15% auto;
  height: 100%;
  padding: 1.2rem;
  width: 80%;
  animation: animateModal 0.5s;
  border-radius: 20px;
  border: 3px solid #000;
  transition: 0.2s linear;
}

/* Modal Animation Start */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
/* Modal Animation End */

.modal-container .close {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: inline-block;
  margin-bottom: 2rem;
}

.modal-content h1 {
  font-family: Montserrat;
  padding: 2rem 0;
  text-align: center;
  font-weight: 800;
}

.modal-content .by {
  display: flex;
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.modal-content img {
  height: 2rem;
  border-radius: 50%;
}

.modal-content .by p {
  margin: auto;
  margin-left: 3px;
}

.modal-content .by p span {
  font-style: italic;
}

.paragraf {
  font-family: Noto Serif;
  margin: auto;
  width: 50rem;
  height: 22rem;
  justify-content: center;
  margin-left: 2.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
  /* padding-right: 25px; */
}

.paragraf p {
  padding-bottom: 1rem;

  text-align: justify;
  margin-right: 1rem;
}

.date {
  position: absolute;
  right: 6rem;
  bottom: 2rem;
  font-family: Noto Serif;
  font-style: italic;
}

/* Kontak */
.kontak {
  background-color: var(--second);
  display: flex;
  padding: 1rem 5%;
}

.kontak-content {
  margin-top: 2rem;
  display: flex;
}

.map {
  border-radius: 10px;
  box-shadow: 3px 3px 6px #000000;
  height: 15rem;
  width: 50rem;
}

.paragraph {
  display: grid;
  margin-left: 2rem;
}

.paragraph p {
  margin-top: 1rem;
}

.paragraph p span {
  font-size: 1.3rem;
  font-weight: 700;
}

/* Footer */
footer {
  background-color: var(--second);
  text-align: center;
  padding: 1rem 0 2rem;
}

footer .links {
  margin-bottom: 1.2rem;
}

footer .links a {
  color: var(--dark);
  padding: 0 0.7rem;
  font-size: 1.4rem;
}

footer .credit {
  font-size: 1.2rem;
}

footer .credit a {
  color: #09122c;
  font-weight: 700;
}

footer #me:hover {
  color: orange;
  
}
